<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>334750923544-90sao4fqbbn2rb892p7s3i1o357cesub.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.334750923544-90sao4fqbbn2rb892p7s3i1o357cesub</string>
	<key>API_KEY</key>
	<string>AIzaSyCOEKHr0K2vaBr-571ne04uo24uJfFl--g</string>
	<key>GCM_SENDER_ID</key>
	<string>334750923544</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.ramdel.goalslite</string>
	<key>PROJECT_ID</key>
	<string>goals-lite</string>
	<key>STORAGE_BUCKET</key>
	<string>goals-lite.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:334750923544:ios:31fec2b7b66d8110fabc6d</string>
</dict>
</plist>